:root {
    --font-principal: Roboto, sans-serif;
    --font-peso-principal: 100;
    --branco: #fdfdfd;
    --cafe: #26110A;
    --font-pacifico: Pacifico, cursive;
    --menu-color-bg: #f9f9f9;
    --cafes-bg: #593C2C;
    --footer-bg: #BE8E5D;
}

body {
    font-family: var(--font-principal);
    font-weight: var(--font-peso-principal);
}